.back-button__icon {
  width: 20px;
  height: 18px;
  background-image: url(../../../../images/back-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 15px 0 0;
}

@media (max-width: 1280px) {
  .back-button__icon {
    font-size: 17px;
    line-height: 14px;
  }
}

@media (max-width: 900px) {
  .back-button__icon {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .back-button__icon {
    width: 14px;
    height: 10px;
  }
}
