.not-found__text {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: #D9D9D9;
    margin: 0 0 5px;
}

@media screen and (max-width: 700px) {
    .not-found__text {
        font-size: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 400px) {
    .not-found__text {
        font-size: 10px;
        line-height: 13px;
    }
}