.games__find-pair {
  width: 100%;
  height: 35vh;
  background-image: url(../../../assets/game-logos/find-pair-logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition:
    opacity 0.2s ease,
    scale 0.2s ease;
  cursor: pointer;
}

@media (max-width: 900px) {
  .games__find-pair {
    width: 80%;
    height: 30vh;
  }
}

@media (max-width: 750px) {
  .games__find-pair {
    height: 30vh;
  }
}

@media (max-width: 600px) {
  .games__find-pair {
    height: 25vh;
  }
}

@media (max-width: 400px) {
  .games__find-pair {
    height: 100%;
    justify-self: center;
  }
}
