.find-pair-game__info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 830px) {
  .find-pair-game__info-container {
    flex-direction: row;
    justify-content: space-around;
    width: calc(40vh + 40px);
    padding: 0 20px;
  }
}

@media (max-width: 500px) {
  .find-pair-game__info-container {
    width: 75vw;
  }
}
