.get-in-touch__icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 0 100px 0 0;
}

@media (max-width: 1280px) {
  .get-in-touch__icons {
    width: 30%;
    margin: 0;
  }
}

@media (max-width: 900px) {
  .get-in-touch__icons {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .get-in-touch__icons {
    width: 60%;
  }
}
