@media (max-width: 768px) {
  .blog-close-btn_location_new-project-popup {
    top: 10px;
    right: 10px;
    z-index: 10;
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .blog-close-btn_location_new-project-popup {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 450px) {
  .blog-close-btn_location_new-project-popup {
    width: 25px;
    height: 25px;
  }
}
