.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(80vw, 1200px);
  max-width: 1200px;
}

@media (max-width: 900px) {
  .projects {
    width: 85vw;
  }
}

@media (max-width: 650px) {
  .projects {
    width: 90vw;
  }
}
