.burger-menu {
    position: fixed;
    top: 3vw;
    right: 3vw;
    width: 29px;
    height: 25px;
    background-image: url(../../images/burger-menu.svg);
    background-color: #000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    border-style: none;
    border-radius: 3px;
    padding: 0;
    cursor: pointer;
    transition: opacity .2s ease;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
}

.burger-menu:hover {
    opacity: .7;
}

@media screen and (max-width: 700px) {
    .burger-menu {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 400px) {
    .burger-menu {
        top: 3vw;
    }
}

