.latest-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(80vw, 1200px);
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .latest-posts {
    width: 85vw;
  }
}
