.gallery {
  width: 100%;
  max-height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 2px;
  row-gap: 2px;
  list-style: none;
  padding: 0;
  margin: 50px auto 100px;
}

.gallery > * {
  aspect-ratio: 1 / 1;
  min-width: 0;
}

.gallery:not(:hover) {
  filter: brightness(160%);
}

@media screen and (max-width: 1280px) {
  .gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 30px auto 80px;
  }
}

@media screen and (max-width: 440px) {
  .gallery {
    width: 100%;
    grid-template-columns: minmax(0, 1fr);
  }
}
