.skills__item {
  padding: 11px 20px;
  background-color: #fff;
  border-radius: 5px;
  list-style: none;
  min-width: fit-content;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
  /* transition: opacity .2s ease; */
}

/* .skills__item:hover {
    opacity: .7;
} */
