.popup__submit-btn {
    width: inherit;
    height: 40px;
    background-color: #2C2E2F;
    border-style: none;
    border-radius: 5px;
    color: #E8E8E8;
    transition: opacity .2s ease;
    cursor: pointer;
}

.popup__submit-btn:hover {
    opacity: .8;
}