.post-hashtags {
  display: flex;
  flex-wrap: wrap;
  width: min(80vw, 1200px);
  justify-content: flex-start;
  gap: 12px;
  margin: 0 0 30px;
  box-sizing: border-box;
}

@media (max-width: 900px) {
  .post-hashtags {
    width: 85vw;
  }
}
