.post_location_single-post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60vw;
  margin: 120px auto 100px;
  position: relative;
  min-height: auto;
  cursor: default;
}

@media (max-width: 900px) {
  .post_location_single-post {
    width: 85vw;
    margin: 45px auto 80px;
  }
}

@media (max-width: 650px) {
  .post_location_single-post {
    width: 90vw;
    margin: 35px auto 70px;
  }
}
