.cv__download-button {
  width: fit-content;
  height: 30px;
  border: 1px solid #9A7BD9;
  border-radius: 10px;
  background-color: transparent;
  padding: 5px 22px;
  box-sizing: border-box;
  color: #9A7BD9;
  font-size: 12px;
  font-weight: 300;
  line-height: 15px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease,
    opacity 0.2s ease;
  cursor: pointer;
}

.cv__download-button:hover {
  background-color: #9A7BD9;
  color: #fff;
}

@media screen and (max-width: 900px) {
  .cv__download-button {
    font-size: 12px;
    line-height: 15px;
    padding: 5px 18px;
  }
}
