.main__navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
    padding: 36px 0 15px;
}

.main__navigation .main-nav {
    width: min(92vw, 1180px);
}

@media screen and (max-width: 700px) {
    .main__navigation {
        opacity: 0;
        visibility: hidden;
        height: 0;
    }
}
