.logout-btn {
  box-sizing: border-box;
  width: 100px;
  height: 30px;
  padding: 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  cursor: pointer;
}

.logout-btn_theme_main {
  border: 1px solid #fff;
  color: #0f1111;
  background-color: #e8e8e8;
}

.logout-btn_theme_blog {
  border: 0;
  color: #f4ffff;
  background-color: var(--blog-accent-contrast);
}
