.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 4vw;
}

.header_type_main-nav {
  width: min(80vw, 1180px);
  margin: 0 auto;
  left: 0;
  justify-content: center;
  height: auto;
  padding: 30px 4vw 0;
}

.header_type_main-nav .main-nav {
  width: min(92vw, 1180px);
}
