.project-hashtags__bear {
  background-image: url(../../../../images/bear-honey.svg);
  width: calc(30% - 30px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 700px) {
  .project-hashtags__bear {
    display: none;
  }
}
