.find-pair-game__player-icon {
  width: 200px;
  height: 200px;
  background-image: url(../../../../images/find-pair-player-icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: relative;
  z-index: 1;
  margin-bottom: -17px;
  pointer-events: none;
}

@media (max-width: 830px) {
  .find-pair-game__player-icon {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 500px) {
  .find-pair-game__player-icon {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 300px) {
  .find-pair-game__player-icon {
    width: 70px;
    height: 70px;
  }
}
