.projects__container_location_projects-page {
  width: min(80vw, 1200px);
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  align-items: stretch;
  list-style: none;
}

@media (max-width: 1199px) {
  .projects__container_location_projects-page {
    width: 85vw;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 600px) {
  .projects__container_location_projects-page {
    width: 90vw;
    grid-template-columns: 1fr;
  }
}
