.projects__container_location_projects-page {
  display: flex;
  width: 80vw;
  gap: 20px 0;
}

@media (max-width: 500px) {
  .projects__container_location_projects-page {
    width: 90vw;
  }
}
