.edit-btn {
    background-image: url(../../images/edit-btn.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity .2s ease;
}

.edit-btn:hover {
    opacity: .7;
}