.blog-promo__text_location_main-page {
  font-size: 54px;
  line-height: 60px;
  margin: 0 0 30px;
}

@media screen and (max-width: 960px) {
  .blog-promo__text_location_main-page {
    font-size: 42px;
    line-height: 49px;
  }
}

@media screen and (max-width: 768px) {
  .blog-promo__text_location_main-page {
    font-size: 34px;
    line-height: 40px;
  }
}

@media screen and (max-width: 500px) {
  .blog-promo__text_location_main-page {
    font-size: 32px;
    line-height: 38px;
  }
}

@media screen and (max-width: 420px) {
  .blog-promo__text_location_main-page {
    font-size: 30px;
    line-height: 36px;
  }
}
