.cv__item {
  display: flex;
  align-items: center;
  gap: 32px;
  min-height: 165px;
  padding: 32px 40px;
  box-sizing: border-box;
  border: 1px solid rgba(154, 123, 217, 0.22);
  border-radius: 15px;
  background-color: #fff;
}

@media screen and (max-width: 1280px) {
  .cv__item {
    padding: 28px 32px;
  }
}

@media screen and (max-width: 600px) {
  .cv__item {
    gap: 20px;
    min-height: 145px;
    padding: 24px;
  }
}
