.new-post__icon-selection {
  display: grid;
  grid-template-columns: 30px minmax(0, 1fr) 30px;
  grid-template-areas: "leftflip icons rightflip";
  align-items: center;
  gap: 30px;
  width: 100%;
}

@media (max-width: 768px) {
  .new-post__icon-selection {
    gap: 18px;
  }
}
