.new-post__icon-selection {
  display: grid;
  grid-template-columns: 30px calc(100% - 120px) 30px;
  grid-template-areas: "leftflip icons rightflip";
  align-items: center;
  gap: 30px;
  width: 100%;
}
