.menu__link {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    color: #E8E8E8;
    background-color: transparent;
    border-style: none;
    margin: 0 0 25px;
    transition: opacity .2s ease;
    cursor: pointer;
}

.menu__link:hover {
    opacity: .7;
}