.post__title_location_single-post {
  font-size: 40px;
  line-height: 47px;
  margin: 10px 0;
}

@media (max-width: 1280px) {
  .post__title_location_single-post {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 900px) {
  .post__title_location_single-post {
    font-size: 24px;
    line-height: 30px;
  }
}
