.form__submit-btn {
    width: inherit;
    height: 50px;
    background-color: #7cc6fb;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #0F1111;
    margin: 60px 0 0;
    transition: opacity .2s ease;
    cursor: pointer;
}

.form__submit-btn:hover {
    opacity: .8;
}

@media screen and (max-width: 700px) {
    .form__submit-btn {
        font-size: 14px;
        line-height: 17px;
    }
}