.post__icon {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-size: 71% 71%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid rgba(154, 123, 217, 0.22);
  grid-area: image;
  align-self: start;
}
