.games {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

@media (max-width: 400px) {
  .games {
    padding-top: 50px;
  }
}
