.close-btn {
  background-color: initial;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  border: none;
  cursor: pointer;
  height: 32px;
  padding: 0;
  position: absolute;
  transition: opacity 0.3s ease;
  width: 32px;
  background-image: url(../../assets/close-btn.svg);
}

.close-btn:hover {
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .close-btn {
    width: 24px;
    height: 24px;
  }
}
