.posts-search__input {
  width: 100%;
  min-width: 0;
  height: 100%;
  background-color: transparent;
  border-style: none;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  outline: none;
  color: #0f1111;
}

.posts-search__input::placeholder {
  color: rgba(15, 17, 17, 0.35);
}

@media (max-width: 768px) {
  .posts-search__input {
    font-size: 14px;
    line-height: 17px;
  }
}

@media (max-width: 420px) {
  .posts-search__input {
    font-size: 12px;
    line-height: 15px;
  }
}
