.post__icon_location_posts {
  width: 100%;
  aspect-ratio: 1/1;
  align-self: center;
  margin: 0;
}

@media screen and (max-width: 1150px) {
  .post__icon_location_posts {
    display: none;
  }
}

@media screen and (max-width: 750px) {
  .post__icon_location_posts {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .post__icon_location_posts {
    display: none;
  }
}
