.auxiliary-buttons__view-all-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  background-color: transparent;
  border-style: none;
  border: 1px solid #90abf1;
  border-radius: 20px;
  padding: 0;
  transition: opacity 0.2s ease;
  cursor: pointer;
  color: #90abf1;
  text-decoration: none;
}

.auxiliary-buttons__view-all-btn:hover {
  background-color: #90abf1;
  color: #fff;
}

@media (max-width: 1280px) {
  .auxiliary-buttons__view-all-btn {
    height: 32px;
    width: 120px;
  }
}

@media (max-width: 960px) {
  .auxiliary-buttons__view-all-btn {
    height: 25px;
    width: fit-content;
    padding: 0 15px;
  }
}
