.not-found__image {
    width: 220px;
    margin: 0 0 36px;
}

@media screen and (max-width: 700px) {
    .not-found__image {
        width: 160px;
        margin: 0 0 28px;
    }
}

@media screen and (max-width: 400px) {
    .not-found__image {
        width: 110px;
        margin: 0 0 20px;
    }
}
