.hashtags {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    color: #ABABAB;
    box-sizing: border-box;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .hashtags {
        padding: 0 30px;
    }
}

@media screen and (max-width: 450px) {
    .hashtags {
        padding: 0 20px;
    }
}

@media screen and (max-width: 320px) {
    .hashtags {
        padding: 0 10px;
        justify-content: center;
    }
}