.more-details-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 30px;
  font-size: 12px;
  font-weight: 300;
  line-height: 19px;
  border-radius: 5px;
  background-color: var(--blog-accent-contrast);
  transition: opacity 0.2s ease;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}

.more-details-link:hover {
  opacity: 0.7;
}
