.dropdown__check-icon {
    background-image: url(../../../images/check-icon.svg);
    width: 18px;
    height: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
}