.games__title {
  color: #fff;
  font-size: 24px;
  line-height: 27px;
  font-weight: 200;
  margin: 50px 0 0;
  padding: 0;
}

@media (max-width: 400px) {
  .games__title {
    font-size: 20px;
    line-height: 24px;
  }
}
