.posts-search__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #fff;
    border-radius: 50px;
    box-sizing: border-box;
}