.new-post {
  position: relative;
  display: flex;
  max-height: -moz-fit-content;
  max-height: fit-content;
  justify-content: center;
  box-sizing: border-box;
  margin: auto;
  padding: 30px 70px 35px;
  background-color: #f3f7ff;
  border-radius: 10px;
  color: #000;
}

.popup_type_get-in-touch {
  box-sizing: border-box;
  padding: 56px;
}

.new-post .blog-input {
  margin-bottom: 6px;
}

.new-post .blog-input__field_type_text-area {
  min-height: 130px;
  resize: none;
}

.new-post .blog-submit-btn {
  margin-top: 18px;
}

@media (max-width: 1280px) {
  .new-post {
    padding: 10px 30px 15px;
  }
}

@media (max-width: 768px) {
  .popup_type_get-in-touch {
    padding: 0;
  }

  .new-post {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    min-height: 100vh;
    min-height: 100dvh;
    max-height: none;
    border-radius: 0;
    padding: 15px 35px 29px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}
