.new-post__submit-btn {
  width: 360px;
  height: 50px;
}

@media (max-width: 900px) {
  .new-post__submit-btn {
    width: 50%;
    font-size: 14px;
    line-height: 17px;
    margin: 20px 0 0 0;
  }
}

@media (max-width: 768px) {
  .new-post__submit-btn {
    width: 180px;
    height: 40px;
  }
}
