.timer__time {
  font-size: 22px;
  line-height: 30px;
  font-weight: 200;
  color: #2a2643;
  margin: 0;
  width: 105px;
  text-align: start;
}

@media (max-width: 830px) {
  .timer__time {
    font-size: 16px;
    line-height: 20px;
    width: 80px;
  }
}

@media (max-width: 500px) {
  .timer__time {
    font-size: 14px;
    line-height: 18px;
  }
}
