.promo__subtitle {
    max-width: 600px;
    font-size: 32px;
    font-weight: 200;
    line-height: 37px;
    color: #E8E8E8;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 900px) {
    .promo__subtitle {
        max-width: 320px;
        font-size: 20px;
        line-height: 24px;
    }
}

@media screen and (max-width: 400px) {
    .promo__subtitle {
        max-width: 210px;
        font-size: 16px;
        line-height: 19px;
    }
}