.posts-container {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 34vw);
  grid-auto-rows: 160px;
  gap: 2vw 2vw;
  justify-content: center;
  width: 70vw;
  margin: 40px 70px 70px;
  /* grid-auto-flow: row; */
  max-height: fit-content;
}

@media (max-width: 750px) {
  .posts-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
